body {
    font-family: 'Helvetica';
   
    
}




.head {
    background-color: #00838F;
    text-align: center;
    width: auto;
    height: 100px;
    
}

#naglowek {
    color: white;
    font-size: 190%;
    padding-top: 25px;
    
}






.left {
    background-color: #efefef;
    float: left;
    width: 55%;
    height: 450px;
}

.L1 {
    height: 150px;
}

.L2 {
    height: 150px;
}

.L1 p {
   font-weight: bolder;
   font-size: 140%;
}

.L2 p {
    font-weight: bolder;
    font-size: 140%;
}






.P1 {
    background-color: #4FB3BF;
    float: right;
    width: 45%;
    height: 450px;
}

.zdj {
    margin-top: 60px;
    margin-left: 100px;
    box-shadow: 10px 10px 7px dimgray;
    width: 400px;
    height: 320px;

}

#kw {
    margin-left: 40%;
    padding-top: 20px;
}








.footer {
    margin-top: 450px;
    background-color: #00838F;
    text-align: center;
    width: auto;
    height: 60px;
}

.ftr {
    color: white;
    padding-top: 20px;
}